
/*GENERAL CLASSES USED THROUGHOUT*/
/*Best way to find something is to search by view*/

/*padding for body*/
body {
    padding-top: 70px;
}
/*attempting to add font to project*/
@font-face {
    font-family: "CollegiateHeavyOutline Medium.ttf";
    font-style: normal;
    src: url('../fonts/collegiateHeavyOutline Medium.ttf');
    src: local('collegiateHeavyOutline Medium'), local('collegiateHeavyOutline') url("../fonts/collegiateHeavyOutline Medium.ttf") format('truetype');
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.subheader {
    font-family: 'Century Gothic';
    font-weight: bold;
    text-align: center;
}
/*sets border box sizing*/
* {
    box-sizing: border-box;
}

/*a simple means of setting auto margins for columns*/
.column {
    margin: auto;
}

    /*a simple way to set image sizing and location within columns*/
    .column img {
        height: auto;
        max-width: 100%;
    }
/* Create two equal columns that float next to each other */
.columnhalf {
    float: left;
    width: 50%;
    padding: 15px;
}

/* creat three equal columns that float next to each other*/
.columnthird {
    float: left;
    width: 33%;
    padding: 15px;
}


/*covers all input buttons*/
input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    /*changes colors of input buttons*/
    input[type=submit]:hover {
        background-color: #45a049;
    }


/* Set width on the form input elements since they're 100% wide by default */
input, select, textarea {
    max-width: 280px;
}

    input[type=text], input[type=password] {
        max-width: 100vw;
        /*display: block;*/
    }

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/*resizing to fit graphs vertically when device is smaller*/
@media screen and (max-width: 800px) {
    .column {
        width: 100%;
    }
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

#adminTop, #adminBottom, #adminLeft, #adminRight {
    background: gray;
    position: fixed;
}

#adminLeft, #adminRight {
    top: 0;
    bottom: 0;
    width: 50px;
}

#adminLeft {
    left: 0;
}

#adminRight {
    right: 0;
}

#adminTop, #adminBottom {
    left: 0;
    right: 0;
    height: 50px;
}

#adminTop {
    top: 0;
}

#adminBottom {
    bottom: 0;
}


/*End GENERAL CLASSES*/

/*NAV*/
/*custom class a for setting navbar elems*/
li a:hover:not(.active) {
    background-color: transparent;
    color: white;
}

backImg {
    width: 100%;
    height: auto;
    opacity: 0.3;
}

a {
    color: white;
    float: right;
}

/*list for navbar elements*/
li a {
    display: inline;
    padding: 10px;
    text-align: center;
    margin-right: -10px;
}

/*adminNav bar gradient*/
#adminNav {
    background: linear-gradient(to right, #C22026,#F2696A);
    height: 12%;
}

/*studentNav bar gradient*/
#studentNav {
    background: linear-gradient(to right, #37499F,#3D92D0);
    height: 12%;
}

/*set navbar outline to transparent*/
.navbar {
    border-color: transparent;
}

.navUL{
    margin-top:13px !important;
}

.navLILeftElements {
    float:left; 
    margin-left:-90px;
}
    .navLILeftElements .img-responsive {
        width:80%;
        margin-top:-5px;
    }
.navLIMiddleElements{
float:left; 
overflow:visible;
}
.navLIMiddleElements .img-responsive {
width:150px; 
margin-left:200px;
margin-top:-22px;
}
#navbarStudentPic {
    width:100%; 
    margin-left:110px; 
    margin-top:-80px;
}
.navLIRightElements{
 margin-right:-60px;
}
/*End NAV*/

/*ADMIN MANAGE STUDENT*/

/*style for drop-down menu on Admin's MANAGE STUDENT page for student names*/
.containerManage {
    height: 100vh;
    position: relative;
    top: 75px;
    right: 50px;
}

#createStudent {
    width: 40%;
    margin-left: 17%;
    margin-right: 70%
}
/*rigging for overlays*/
#rig {
    max-width: 150%;
    margin: 0 auto; /*center aligned*/
    padding: 0;
    font-size: 0; /* Remember to change it back to normal font size if have captions */
    list-style: none;
    background-color: transparent;
    width: 900px;
}

    #rig li {
        display: inline-block;
        *display: inline; /*for IE6 - IE7*/
        width: 25%;
        vertical-align: middle;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        ;
    }

/* The wrapper for each item */
.rig-cell {
    /*margin:12px;
    box-shadow:0 0 6px rgba(0,0,0,0.3);*/
    display: table-cell;
    position: relative;
    overflow: hidden;
    width: 150px;
    align-content: center;
}

/* If have the image layer */
.rig-img {
    display: block;
    width: 100%;
    height: auto;
    border: none;
    transform: scale(1);
    transition: all 1s;
}

#rig li:hover .rig-img {
    transform: scale(1.05);
}

/* If have the overlay layer */
.rig-overlay {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background: #fe8484 url(img/link.png) no-repeat center 20%;
    background-size: 50px 50px;
    opacity: 0;
    filter: alpha(opacity=0); /*For IE6 - IE8*/
    transition: all 0.6s;
}

#rig li:hover .rig-overlay {
    opacity: 0.8;
}

/* If have captions */
.rig-text {
    display: block;
    padding: 0 10px;
    box-sizing: border-box;
    position: absolute;
    left: 0%;
    width: 100%;
    /*text-align: center;*/
    text-transform: capitalize;
    font-size: 12px;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    font-weight: normal !important;
    top: 40%;
    color: #ffffff;
    opacity: 0;
    filter: alpha(opacity=0); /*For older IE*/
    transform: translateY(-20px);
    transition: all .3s;
}

#rig li:hover .rig-text {
    transform: translateY(0px);
    opacity: 1;
}

/*Controlls how rig looks on multiple display widths*/
@media (max-width: 9000px) {
    #rig li {
        width: 50%;
    }
}

@media (max-width: 700px) {
    #rig li {
        width: 33.33%;
    }
}

@media (max-width: 550px) {
    #rig li {
        width: 50%;
    }
}
/*end ADMIN REPORT*/


/*STUDENT READ*/
#studentReadContainer {
    width: auto;
    height: 100vh;
}
/*Read of Profile Pic*/
.ReadProfilePic {
    position: relative;
    left: 55px;
    width: 100px;
    height: auto;
}
/*student stats*/
#studentStats {
    width: 40%;
    position: absolute;
    top: 25%;
    left: 25%;
    float: left;
}
/*spans the profile*/
#profileSpan {
    position: relative;
    left: 80px;
}
/*attributes to apply to graphs*/
#graphs {
    width: 70%;
    height: 70vh;
    position: relative;
    top: 8em;
    left: 40em;
    margin-bottom: 13%;
}
/*current month style*/
#currentMonth {
    width: 300px;
    float: left;
}
/*3 months style*/
#threeMonths {
    width: 300px;
    float: left;
}
/* year to date style*/
#yearToDate {
    width: 315px;
    float: left;
}
/*total hours graph style*/
#totalHours {
    width: 300px;
    float: left;
}

#manageButtons {
    width: auto;
    height: auto;
    position: absolute;
    top: 100%;
    left: 40%;
    display: inline-flex
}

/*manage buttons*/
#manageReadButtons {
    width: auto;
    height: auto;
    position: relative;
    margin-top: 2%;
    top: 100%;
    left: 35%;
    display: inline-flex
}
/*end STUDENT READ*/

/*ADMIN/CALENDAR PAGE*/
.calContain {
    position: relative;
    top: 100%;
    left: 15%;
    width: 70%;
    height: auto;
    margin-top: 8%;
    margin-bottom: 200px;
}

.calPic {
    width: 100%;
    height: auto;
}

.invisButton {
    background: transparent;
    border: none !important;
    font-size: 0;
    outline: 0;
    position: absolute;
    top: 0px;
    width: 200px;
    height: 50px;
    right: 0;
    color: black;
}

#hiddenBox {
    position: relative;
    display: none;
    background-color: transparent;
    margin-top: 20px;
    margin-bottom: 2%;
    width: 100%;
    float: unset !important;
    color: black;
}

    #hiddenBox > a {
        color: black;
    }

#calButton {
    float: unset !important;
}
/*end ADMIN/CALENDAR PAGE*/

/*HOME/INDEX PAGE*/

.loginColumn {
    margin: auto;
}

    /*a simple way to set image sizing and location within columns*/
    .loginColumn img {
        margin: auto;
        height: auto;
        max-width: 100%;
    }
/*the top row*/
#loginrow {
    margin-top: 20px;
}

/*the large Icon*/
.loginLogo {
    max-width: 15%;
    padding: 1%;
}

/*the large title logo*/
.loginTitle {
    max-width: 50%;
}

/*login input group items that are img (the custom icons)*/
.login .input-group-addon img {
    height: auto;
    margin: -10px;
    margin-bottom: -5px;
    vertical-align: text-bottom;
}

/*login divs centering*/
.login {
    align-items: center;
    margin-top: 5px;
}

    /*login input items width and centering help*/
    .login .input-group {
        width: 50%;
        max-width: 500px;
        min-width: 200px;
        margin: auto;
        margin-top: 5px;
    }
/*Background of the home page*/
.backgroundHome {
    background: radial-gradient(#B3C65F,#618B42);
    width: 100vw;
    height: 100vh;
}
/*end HOME/INDEX*/

/*KIOSK PAGE*/

/*Background of the kiosk page*/
.kioskBackground {
    background: radial-gradient(#B3C65F,#618B42);
    width: 100%;
    height: 100%;
}

/*Removes padding and margin of kiosk page*/
.kioskPadding {
    margin: 0;
    padding: 0;
}

/*Centers everything in the kiosk page*/
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

/*Formats title in kiosk page*/
.kioksTrackAdemyTitle {
    width: 40vw;
    padding-top: 0;
}

/*Formats logo in kiosk page*/
.kioskLogo {
    width: 5vw;
}

/*Creates a grid for the kiosk page*/
.grid-container-kiosk {
    height: 50%;
    width: auto;
    display: grid;
    grid-template: auto auto auto / auto auto auto;
    grid-gap: 50px;
    background-color: #B3C65F;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 10px;
    border-radius: 25px;
}

    /*The divs of the grid for the kiosk page*/
    .grid-container-kiosk > div {
        background-color: #B3C65F;
        text-align: center;
        padding: 5px 5px;
        font-size: 15px;
        border-radius: 30%;
        overflow: hidden;
    }

/*Logout button for the kiosk page*/
.logoutButton {
    background-color: #463927;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    border-radius: 8px;
    position: absolute;
    top: 10px;
    right: 10px;
}

/*Formats the student pictures on the kiosk page*/
.studentPicture {
    height: auto;
    width: 120px;
    border-radius: 30%;
    overflow: hidden;
    outline: 20px solid #463927;
}

/*Formats the student check mark pictures on the kiosk page*/
.checkMark {
    position: absolute;
    margin-top: 5px;
    margin-left: 30px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    padding: 50px 10px;
    border: none;
    border-radius: 0;
    text-align: center;
    height: auto;
    width: 100px;
    display: none;
}

/*Formats the kiosk button to make checkmark appear*/
.grid-container-kiosk .btn {
    position: absolute;
    margin-top: 60px;
    margin-left: -60px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: transparent;
    color: transparent;
    font-size: 16px;
    padding: 50px 10px;
    border: none;
    cursor: pointer;
    border-radius: 0;
    text-align: center;
    outline: none;
}
/*End KIOSK*/


/*PET YARD*/

/*Have the formatting on left and right be 0*/
.backYardFormat {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

/*Formats the backyard picture on the pet yard page*/
.backYardPicture {
    height: 675px;
    margin-top: 25px;
    width: 1100px;
    float: none;
    align-content: center;
    justify-content: center;
    padding-left: 32px;
}

/*Formats new backyard picture*/
.backYardPictureUpdate {
    height: 675px;
    margin-top: 25px;
    width: 100%;
    align-content: center;
    justify-content: center;
}

/*Formats the updated backyard*/
.backYardUpdateHREF {
    float: none;
    justify-content: center;
}


/*End YARD*/


/*STORE PAGE*/
.backgroundStore {
    background: radial-gradient(darkgray,white);
}

.topStoreRow {
    margin-top: 70px;
    margin-left: 50px;
}

/*Speech bubble for Store page*/
.speech-bubble {
    position: relative;
    background: linear-gradient(to right,#7FC2D6,#3D92D0);
    color: white;
    border-radius: 3em;
    padding: 15px;
    text-align: center;
    margin-bottom: 20px;
}
    /*Speech bubble triangle for store page*/
    .speech-bubble:after {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        width: 0;
        height: 0;
        border: 26px solid transparent;
        border-right-color: #7FC2D6;
        border-left: 0;
        margin-top: -26px;
        margin-left: -26px;
    }
    /*speech bubble image for pet wish*/
    .speech-bubble > img {
        width: 100%;
        height: auto;
        max-width: 100px;
        max-height: 250px
    }

/*not button element for grid item*/
.storeText {
    font-family: 'Century Gothic';
    text-align: right;
}
    /*coin icon for purchasing items*/
    .storeText::after {
        content: "";
        background: url('images/SVG/Trackoin_Individual.svg') no-repeat;
        width: 30px;
        height: 30px;
        float: right;
        margin: 6px 0 0 -10px;
    }
/*Large container that contains the smaller containers*/
.containerStore {
    margin: auto;
    width: 70%;
    overflow: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    background-color: white;
    align-content: space-around;
}
    /*inherited div characteristics for the grids*/
    .containerStore > div {
        border: 2px solid #C2C1C0;
        justify-content: center;
        align-items: center;
    }

/*the smaller grid that defines each shop item and its buttons*/
.containerSmallerStore {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto 50px;
    background-color: aliceblue;
    height: 100%;
    font-family: 'Century Gothic';
}
    /*style for buy button*/
    .containerSmallerStore .buyButton {
        display: inline-block;
        padding: 0 10px;
        font-size: 24px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: #fff;
        background-color: #3D92D0;
        border: none;
        border-radius: 15px;
        float: none;
    }
    /*style for buy button*/
    .containerSmallerStore .unbuyable {
        display: inline-block;
        padding: 0 10px;
        font-size: 24px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: #fff;
        background-color: #7FC2D6;
        border: none;
        border-radius: 15px;
        float: none;
    }
    /*inherited div characters for each grid in the smaller grid*/
    .containerSmallerStore > div {
        background-color: aliceblue;
        text-align: center;
        font-size: 30px;
    }
    /*Making the first item (the picture) fit properly
        uses grid area to take up the top row and all 4
        columns, so that the last row can be devoted to buttons*/
    .containerSmallerStore .item1 {
        align-self: center;
        grid-area: 1/1/1/5; /*grid area starting r1,c1, then spans 1x4 grids.*/
    }

        /*child img for grid item1*/
        .containerSmallerStore .item1 > img {
            height: 200px;
            width: 15vw;
            /*grid area starting r1,c1, then spans 1x4 grids.*/
        }

/*end STORE PAGE*/

/*begin STUDENT HOME PAGE*/

.backgroundStudentHome {
    background: radial-gradient(darkgray,white);
}

/*the student home index grid*/
.studentHomeContainer {
    height: 50%;
    width: auto;
    display: grid;
    grid-template: auto auto auto / auto auto auto;
    grid-gap: 40px;
    background-color: #C9E9EA;
    padding-bottom: 10px;
    padding-top: 50px;
    padding-left: 60px;
    padding-right: 60px;
    margin-bottom: 10px;
    border-radius: 100px;
}
    /*specific child items in the grid*/
    .studentHomeContainer > .item1 {
        margin-top: 50px;
        margin-left: 50px;
        background: transparent;
    }

    .studentHomeContainer > .item2 {
        width: 350px;
        margin-left: 50px;
        margin-right: -300px;
        margin-top: 100px;
        background: transparent;
    }

    .studentHomeContainer > .item3 {
        margin-top: 50px;
        margin-right: 100px;
        background: transparent;
    }

    .studentHomeContainer > .item4 {
        margin-left: 50px;
        background: transparent;
    }

    .studentHomeContainer > .item5 {
        margin-left: 100px;
        margin-right: 100px;
        background: transparent;
    }

    .studentHomeContainer > .item6 {
        margin-left: -150px;
        margin-left: 25px;
        margin-right: 100px;
        background: transparent;
    }

    .studentHomeContainer > .item7 {
        margin-right: -150px;
        margin-top: 50px;
        background: transparent;
    }

    .studentHomeContainer > .item8 {
        margin-left: 10vw;
        margin-right: 10vw;
        background: transparent;
    }

    .studentHomeContainer > .item9 {
        margin-left: -10vw;
        margin-top: 50px;
        background: transparent;
    }
    /*container with all p elements font stuff*/
    .studentHomeContainer p {
        font-family: 'MS Gothic';
        font-size: medium;
        text-align: center;
        color: #3D92D0;
    }
        /*container with override for p.subheader elements*/
        .studentHomeContainer p.subheader {
            color: black;
            font-size: x-large;
        }

/*Creates a grid for the Student Maing page*/
.grid-container-white {
    height: 25%;
    width: auto;
    display: grid;
    grid-template: auto auto auto / auto auto auto;
    grid-gap: 50px;
    background-color: white;
}

/*student grid*/
.grid-container-studentHome {
    height: 25%;
    width: auto;
    display: grid;
    grid-template: auto auto auto / auto auto auto;
    grid-gap: 50px;
    background: radial-gradient(#37499F,#3D92D0);
    opacity: 0.3;
    padding-bottom: 10px;
    padding-top: 5px;
    padding-left: 25px;
    padding-right: 2px;
    margin-bottom: 5px;
}

/*The divs of the grid for the student home page*/
.grid-container-white > div {
    background-color: white;
    text-align: center;
    display: grid;
    padding: 5px 5px;
    font-size: 15px;
    overflow: hidden;
    position: relative;
}

/*end STUDENT INDEX HOME */

/*ASPIRATIONS STUDENT*/
.aspirationcenter {
    margin: 0;
    padding: 0;
    text-align: center;
    background: radial-gradient(darkgray,white)
}
/*Background of aspiration page */
.aspirationBackground {
    margin: 0;
    padding: 0;
    text-align: center;
    background: radial-gradient(darkgray,white)
}
/*The blue container in the aspiration page that contains the items*/
.aspirations-container {
    height: 50%;
    width: auto;
    display: grid;
    grid-template: auto auto auto / auto auto auto;
    grid-gap: 40px;
    background-color: #C9E9EA;
    padding-bottom: 10px;
    padding-top: 50px;
    padding-left: 60px;
    padding-right: 60px;
    margin-bottom: 10px;
    border-radius: 100px;
}
/*List of today's aspiration items ROW 1, three items included */
.aspiration-item1 {
    color: #3D92D0;
    font-size: 14px;
    text-align: center
}

.checkInPicture {
    margin-top: 90px;
    margin-right: 75px;
}

.aspiration-item2 {
    color: #3D92D0;
    font-size: 14px;
    text-align: center
}

.checkOutPicture {
    margin-top: 80px;
    margin-right: 65px;
}

.aspiration-item3 {
    color: #3D92D0;
    font-size: 14px;
    text-align: center
}
/*List of future aspiration items ROW 2, three items included */
.StayAllDaypicture {
    margin-top: 85px;
    margin-right: 75px;
}

.aspiration-item4 {
    color: #3D92D0;
    font-size: 14px;
    text-align: center;
}

.streakDarkPicture {
    margin-top: 60px;
    margin-right: 20px;
}

.aspiration-item5 {
    color: #3D92D0;
    font-size: 14px;
    text-align: center;
}

.futureAspiration {
    color: #FFFFFF;
    font-size: 20px;
    text-align: center;
}

.checkOutDark {
    margin-top: 20px;
    margin-right: 30px;
}

.aspiration-item6 {
    color: #3D92D0;
    font-size: 14px;
    text-align: center
}

.HoursDarkPic {
    margin-top: 50px;
    margin-right: 70px;
}


/*List of Dexter's wish list , items ROW 3, three items included */

.aspiration-item7 {
    color: #3D92D0;
    font-size: 14px;
    text-align: center;
}

.storeStreakPic {
    margin-top: 90px;
    margin-right: 50px;
}



.aspiration-item8 {
    margin-top: 30px;
    margin-right: 20px;
    color: #3D92D0;
    font-size: 14px;
    text-align: center
}

.wishlist {
    color: #FFFFFF; /*Wish List*/
    font-size: 20px; /*Wish List*/
    text-align: center; /*Wish List*/
}

.handkerchiefDark {
    margin-top: 100px;
    margin-right: 90px
}

.aspiration-item9 {
    margin-top: 50px;
    margin-right: 70px;
    font-size: 14px;
    text-align: center;
    color: #3D92D0;
}

.cowboyHat {
    margin-top: 60px;
    margin-right: 35px;
}



/*end ASPIRATIONS STUDENT*/

/*ADMIN INDEX*/

.adminColumn {
    margin: auto;
    padding-top: 100px;
}

.columntwothirds {
    float: left;
    width: 66%;
}

/*a simple way to set image sizing and location within columns*/


.adminLeftGraph {
    float: left;
    width: 25%;
    max-width: 25%;
    height: auto;
}

.adminRightGraph {
    float: left;
    width: 75%;
    max-width: 75%;
    height: auto;
}
/*end ADMIN INDEX */

/*STUDENT ARCHIVE*/

.studentArchive {
    text-align: unset;
}
/*end STUDENT ARCHIVE*/

/*STUDENT DATA*/

.studentData > img {
    width: 100%;
    height: auto;
    padding-top: 50px;
}

/*end STUDENT DATA*/

/*STUDENT DELETE*/
.studentDeleteRow {
    margin-top: 70px;
}
/*end STUDENT DELETE*/
