

/*padding for body*/
body {
    background: white /*linear-gradient(#B3C65F,#618B42)*/;
    width: 100vw;
    height: 100vh;
    padding-top: 50px;
}

@font-face {
    font-family: "CollegiateHeavyOutline Medium.ttf";
    font-style: normal;
    src: url('../fonts/collegiateHeavyOutline Medium.ttf');
    src: local('collegiateHeavyOutline Medium'), local('collegiateHeavyOutline') url("../fonts/collegiateHeavyOutline Medium.ttf") format('truetype');
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

#adminNav {
    background: linear-gradient(to right, #C22026,#F2696A);
}

#studentNav {
    background: linear-gradient(to right, #37499F,#3D92D0);
}

/*set navbar outline to transparent*/
.navbar {
    border-color: transparent;
}

/*sets border box sizing*/
* {
    box-sizing: border-box;
}

/*a simple means of setting auto margins for columns*/
.column {
    margin: auto;
}

    /*a simple way to set image sizing and location within columns*/
    .column img {
        height: auto;
        max-width: 100%;
    }
/* Create two equal columns that float next to each other */
.columnhalf {
    float: left;
    width: 50%;
    padding: 15px;
}

/* creat three equal columns that float next to each other*/
.columnthird {
    float: left;
    width: 33%;
    padding: 15px;
}

/*login input group items that are img (the custom icons)*/
.login .input-group-addon img {
    height: auto;
    margin: -10px;
    margin-bottom: -5px;
    vertical-align: text-bottom;
}

/*login divs centering*/
.login {
    align-items: center;
    margin-top: 5px;
}

    /*login input items width and centering help*/
    .login .input-group {
        width: 50%;
        max-width: 500px;
        margin: auto;
        margin-top: 5px;
    }


/*covers all input buttons*/
input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    /*changes colors of input buttons*/
    input[type=submit]:hover {
        background-color: #45a049;
    }

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/*resizing to fit graphs vertically when device is smaller*/
@media screen and (max-width: 800px) {
    .column {
        width: 100%;
    }
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/*sets position for download button*/
#downloadButton {
    position: relative;
    left: 60%;
}

/*style for drop-down menu on Admin's REPORT page for student names*/
#reportStudentDropDown {
    position: fixed;
    background-color: #FFFFFF;
    color: white;
    top: 5%;
    left: 45%;
}

/*style for drop-down menu on Admin's REPORT page for time range of graph data*/
#reportStudentTime {
    position: fixed;
    background-color: #FFFFFF;
    color: white;
    top: 10%;
    left: 45%;
}

/* Set width on the form input elements since they're 100% wide by default */
input, select, textarea {
    max-width: 280px;
}

    input[type=text], input[type=password] {
        max-width: 100vw;
        /*display: block;*/
    }

/*Background of the kiosk page*/
.Background {
    background: linear-gradient(#B3C65F,#618B42);
    width: 100vw;
    height: 100vh;
    /*fixed the weird extra green bit. if you don't like it, here's your original code Melissa:
    width:100vw;
    height:100vh;

        ~Jake
    */
    /*position: absolute;*/
}

/*Centers everything in the kiosk page*/
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

/*Creates a grid for the kiosk page*/
.grid-container {
    display: grid;
    grid-template: auto auto auto / auto auto auto;
    grid-gap: 50px;
    background-color: #B3C65F;
    padding: 50px;
}

    /*The divs of the grid for the kiosk page*/
    .grid-container > div {
        background-color: #618B42;
        text-align: center;
        padding: 5px 5px;
        font-size: 15px;
        border-radius: 25px;
        overflow: hidden;
    }

/*Logout button for the kiosk page*/
.logoutButton {
    background-color: #463927;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    position: absolute;
    top: 10px;
    right: 10px;
}

/*Sign in button for the kiosk page*/
.signInButton {
    background-color: #FDF9CE;
    border: none;
    color: green;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    border-radius: 8px;
}

/*Sign out button for the kiosk page*/
.signOutButton {
    background-color: #FDF9CE;
    border: none;
    color: red;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    border-radius: 8px;
}

/*Creates a white background*/
.whiteBackground {
    background-color: white;
    width: 100vw;
    height: 100vh;
    position: absolute;
}

/*Formats the student pictures on the kiosk page*/
.picture {
    height: auto;
    width: 35%;
    border-radius: 25px;
    overflow: hidden;
}

/*Formats the backyard picture on the pet yard page*/
.backYardPicture {
    height: 80%;
    width: 100%;
    bottom: 0;
    left: 0;
    position: absolute;
    padding: 0;
}

/*Formats the 'backyard' picture on the pet yard page*/
.titleBackYard {
    height: 75px;
    width: 400px;
    padding-bottom: 0;
    padding-top: 0;
    padding-left: 15px;
    position: absolute;
}

/*Formats the 'help' button on the pet yard page*/
.blueHelp {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 80px;
    right: 40px;
}

/*Formats the 'information' button on the pet yard page*/
.blueInfo {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 80px;
    right: 110px;
}

.speech-bubble {
    position: relative;
    background: linear-gradient(to right,#3D92D0, #7FC2D6);
    border-radius: .4em;
    padding: 20px;
    text-align: center;
}

    .speech-bubble:after {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        width: 0;
        height: 0;
        border: 26px solid transparent;
        border-right-color: #3D92D0;
        border-left: 0;
        margin-top: -26px;
        margin-left: -26px;
    }
