@{
    ViewBag.Title = "About";
}
<body class="backgroundHome">
    <div row>
        <div class="container">
            <div class="col-xs-3">
                <img src="~/Content/images/SVG/Logo_Default.svg" />
            </div>
            <div class="col-xs-9 blockVertCenter">


                <img src="~/Content/images/SVG/Trackademy_White.svg" />

            </div>
        </div>
    </div>
    <div row>
        <text class="subheader">Sometimes you lose motivation, life gets hard and it can break you down. Maybe all you need is a gentle push to build yourself back up. Our vision is to give each student at Middle College High School that nudge with TrackAdemy, their own Personal Education Tracker, or P.E.T. Whether from P.E.T.’s rewarding interface with their own customizable P.E.T. based on their attending hours, or from P.E.T.’s access to visually appealing and informative graphs, you’ll find P.E.T. inspiring a sense of responsibility and elevating self-worth, because wherever they go, so will their P.E.T., always cheering them on.</text>
        <h5 class="subheader">Designed by: It_Depends</h5>
    </div>


</body>