@{
    ViewBag.Title = "Help";
}
<body class="backgroundHome">
    <div row>
        <div class="container">
            <div class="col-xs-3">
                <img src="~/Content/images/SVG/Logo_Default.svg" />
            </div>
            <div class="col-xs-9 blockVertCenter">


                <img src="~/Content/images/SVG/Trackademy_White.svg" />

            </div>
        </div>
    </div>
    <div row>
        <div class="col-xs-12">
            <h3 class="subheader studentArchive">How to use</h3>
        </div>
        <text class="subheader">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ullamcorper condimentum massa et facilisis. Donec quis varius est. Nunc eget sagittis enim. Ut varius urna in erat posuere semper. Praesent at convallis ante. Nunc non urna vel ex tempus dapibus ac non libero. Aliquam lacinia, neque in rutrum scelerisque, sem lacus pulvinar nulla, sed posuere metus nulla id sem. Praesent eleifend eleifend sodales. Praesent sed ante dapibus, consequat velit sed, malesuada diam. Maecenas tincidunt ultrices tortor, sit amet volutpat metus porta sit amet. Quisque non imperdiet odio. Proin enim arcu, porta eget condimentum vitae, tristique ac nulla. Etiam lectus ante, dictum eu cursus eu, tempus a ligula. Aenean in tempor enim. Duis eget metus at ex finibus sollicitudin. </text>

    </div>
    <div row>
        <div class="col-xs-12">
            <h3 class="subheader studentArchive">Frequently Asked Questions</h3>
        </div>
        <h4 class="subheader studentArchive">
            Lorem ipsum dolor sit amet?
        </h4>
        <text class="subheader">
            consectetur adipiscing elit. Nam ullamcorper condimtum massa et facilisis. Donec quis varius est. Nunc eget sagittis enim. Ut varius urna in erat posuere semper.
        </text>
        <br />
        <h4 class="subheader studentArchive">
            Praesent at convallis ante?</h4>
            <text class="subheader">
                Nunc non urna vel ex tempus dapibus ac non libero. Aliquam lacinia, neque in rutrum scelerisque, sem lacus pulvinar nulla, sed posuere metus nulla id sem. Praesent eleifend eleifend sodales. Praesent sed ante dapibus, consequat velit sed, malesuada diam. Maecenas tincidunt ultrices tortor, sit amet volutpat metus porta sit amet. Quisque non imperdiet odio. Proin enim arcu, porta eget condimentum vitae, tristique ac nulla. Etiam lectus ante, dictum eu cursus eu, tempus a ligula. Aenean in tempor enim. Duis eget metus at ex finibus sollicitudin.
            </text>

    </div>
</body>