@{
    <!--username and password are set after submit from form post to this same page-->
    string username = Request.Form["UserName"];
    string password = Request.Form["Password"];
    ViewBag.Title = "TrackAdemy";
}


<body class="backgroundHome">

    <div class="row" id="loginrow" >
        <div class="loginColumn loginLogo">
            <img src="~/Content/images/SVG/Logo_Default.svg" />
        </div>
    </div>

    <div class="row">
        <div class="loginColumn loginTitle" >
            <img src="~/Content/images/SVG/TrackAdemy Logo - White.svg" />
        </div>
    </div>

    <!-- This form posts to the same page above-->
    <form method="post" class="login">
        <div class="input-group">
            <span class="input-group-addon">
                <img src="~/Content/images/SVG/Login_User.svg" />
            </span>
            <input type="text" class="form-control" id="username" name="UserName" placeholder="Your username" required />
        </div>

        <div class="input-group">
            <span class="input-group-addon">
                <img src="~/Content/images/SVG/Login_Password.svg" />
            </span>
            <input type="password" class="form-control" id="password" name="Password" placeholder="Your password" required />
        </div>

        <div class="input-group">
            <input type="submit" value="Login" style="max-width:100%" />
        </div>
    </form>
    
    <!--Start checking the username against the UserViewModel-->
    @*TODO*@
   
</body>
