@{
    ViewBag.Title = "TrackAdemy";
}


<head>


</head>
<body>
    <img src="~/Content/images/login.png" style="height:auto; max-width:100%" />

    <form>
        <label for="username">Username</label>
        <input type="text" id="username" name="UserName" placeholder="Your username." />
        <label for="userpass">Password</label>
        <input type="text" id="password" name="Password" placeholder="Your password." />
        <input type="button" value="Login" onclick="LoginLogic()" />
    </form>
    <script type="text/javascript">
        function LoginLogic() {
            if (document.getElementById("username").value === "student") {
                document.body.style.background = "blue";
               window.location.href = "/Student/Index";
            }

            else if (document.getElementById("username").value === "admin") {
                document.body.style.background = "red";
              window.location.href = "/Admin/Index";
            }

            else {
                document.body.style.background = "green";
                window.location.href = "/Kiosk/Index";

            }
            }
    </script>

</body>
