@{

    ViewBag.Title = "Aspirations";

}

<div class="aspirationcenter">

    <body class="AspirationBackground">
</div>

<!-- list of todya's aspiration as item 1, 2 and 3 -->
<div>
    <div class="aspirations-container">
        <div class="aspiration-item1">
            <img id="clockIn" src="~/Content/images/SVG/Aspiration_ClockIn.svg" class="checkInPicture" />

            <p> <b> Today's Clock In</b></p>

        </div>

        <div class="aspiration-item2">

            <img src="~/Content/images/SVG/Aspiration_ClockOut_Dark.svg" class=" checkOutPicture" />

            <p> <b> Today's Clock Out</b></p>

        </div>

        <div class="aspiration-item3">

            <img src="~/Content/images/SVG/Aspiration_StayAllDay_Dark.svg" class="StayAllDaypicture" />

            <p><b>Stay All Day Today</b> </p>

        </div>

        <!-- list of future's aspiration for longer term achivments as item 3, 4 and5  -->
        <div class="aspiration-item4">

            <img src="~/Content/images/SVG/Aspiration_Streak_Dark.svg" class="StreakDarkPicture" />

            <p><b>28 DAYS STREAK</b></p>

        </div>

        <div class="aspiration-item5">
            <div class=" futureAspiration">
                <p><b> FUTURE ASPIRATION</b></p>
                <img src="~/Content/images/SVG/Aspiration_ClockOut_3_Dark.svg" class="checkOutDark" />
            </div>
            <p><b>3 DAYS IN A ROW</b> </p>

        </div>

        <div class="aspiration-item6">

            <img src="~/Content/images/SVG/Aspiration_300Hours_Dark.svg" class="HoursDarkPic" />

            <p><b>300 COMMUNITY HOURS</b></p>
        </div>

        <!--List of the wishlist of the pet, 3 items included as 7,8 and9-->
        <div class="aspiration-item7">

            <img src="~/Content/images/SVG/Store_Speak.svg" class="storeStreakPic" />

            <p><b>LEARN SPEAK </b></p>
        </div>

        <div class="aspiration-item8">
            <div class=" wishlist">
                <p><b> WISH LIST</b></p>
                <img src="~/Content/images/SVG/Store_Handkerchief_Dark.svg" class="handkerchiefDark" />
            </div>
            <p><b>HANDKARECHIEF</b></p>

        </div>

        <div class="aspiration-item9">
            <img src="~/Content/images/SVG/Store_CowboyHat_Dark.svg" class="cowboyHat" />
            <p><b>COWBOY HAT</b></p>
        </div>
    </div>
    </body>
