@{

    ViewBag.Title = "Aspirations";

}

<!--Aspirations div located in the Site.css file-->
<body>
    <div class="container aspirationBackground">
        <h2 class="subheader">DAILY ASPIRATION </h2>
        <div class="newAspContainer">
            <div>
                <img src="~/Content/images/SVG/Aspiration_ClockIn.svg" />
            </div>
            <div>
                <img src="~/Content/images/SVG/Aspiration_ClockOut_Dark.svg" />
            </div>
            <div>
                <img src="~/Content/images/SVG/Aspiration_StayAllDay_Dark.svg" />
            </div>
            <div>
                <p> <b> Today's Clock In</b></p>
            </div>
            <div>
                <p> <b> Today's Clock Out</b></p>
            </div>
            <div>
                <p> <b> Stay All Day Today</b></p>
            </div>
        </div>
        <h2 class="subheader">FUTURE ASPIRATION</h2>
        <div class="newAspContainer">
            <div>
                <img class="img-responsive" src="~/Content/images/SVG/Aspiration_Streak_Dark.svg" />
            </div>
            <div>
                <img src="~/Content/images/SVG/Aspiration_ClockOut_3_Dark.svg" />
            </div>
            <div>
                <img src="~/Content/images/SVG/Aspiration_300Hours_Dark.svg" />
            </div>
            <div>
                <p><b>28 DAYS STREAK</b></p>
            </div>
            <div>
                <p><b>3 DAYS IN A ROW</b> </p>
            </div>
            <div>
                <p><b>300 COMMUNITY HOURS</b></p>
            </div>
        </div>
        <h2 class="subheader">WISH LIST</h2>
        <div class="newAspContainer">
            <div>
                <img src="~/Content/images/SVG/Store_Speak.svg" />
            </div>
            <div>
                <img src="~/Content/images/SVG/Store_Handkerchief_Dark.svg" />
            </div>
            <div>
                <img src="~/Content/images/SVG/Store_CowboyHat_Dark.svg" />
            </div>
            <div>
                <p><b>LEARN SPEAK </b></p>
            </div>
            <div>
                <p><b>HANDKERCHIEF</b></p>
            </div>
            <div>
                <p><b>COWBOY HAT</b></p>
            </div>
        </div>

        <!-- list of todya's aspiration as item 1, 2 and 3 -->
        <!-- list of future's aspiration for longer term achivments as item 3, 4 and5  -->
        <!--List of the wishlist of the pet, 3 items included as 7,8 and9-->
    </div>
</body>
