@{
    ViewBag.Title = "Data";
}

<!--Student Data Mockup-->
<body>
    <div class="studentData">
        <img src="~/Content/images/studentDataFromMock.png" alt="Student Data Page">
    </div>
</body>