@{
    ViewBag.Title = "Student Home Page";
}

<style>
    .container {
        position: relative;
    }

    .topleft{
        position:absolute;
        top: 8px;
        left: 16px;
    }
    .center {
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        text-align: center;
    </style>
<body style=" background:white">
    <div class="container">
        <div class="topleft">
            <img src="~/Content/images/SVG/Aspiration_Streak.svg" />
            <p style="color:#3D92D0; font-size:40px; text-align:center">27 Days</p>
        </div>
    </div>
    <div class="container">
        <div class="center">
            <img src="~/Content/images/SVG/Logo_Default.svg" />
        </div>
        </div>

        <div style="max-width:15%;" class="center">
          
        </div>
    </div>
    <div class="row">
        <div style="max-width:20%; margin-top:25px">
        
        </div>
        </div>

</body>
