@{
    ViewBag.Title = "Student Home Page";
}

<div class="jumbotron">
    <img src="~/Content/images/studentHome.png" alt="Student Home Page" 
         style="width:1000px;height:600px;">

    <p class="lead">This is the home page for the student.</p>
    <p><a href="~/Student/Aspirations" class="btn btn-primary btn-lg">Student Aspirations &raquo;</a></p>
</div>
