@{
    ViewBag.Title = "Student Home Page";
}
<body>
    <div class="grid-container-white" style="margin-bottom:20px;">
        <div class="item1" style=" margin-top:50px; margin-left:50px;">
            <p style="font-family:'MS Gothic'; font-size:medium; color:#3D92D0"> CURRENT STASH</p>
            <img src="~/Content/images/SVG/Trackoin_Individual.svg" />
        </div>
        <div class="item2" style="width:350px; margin-left:100px; margin-right:-300px; margin-top:100px;">
            <img src="~/Content/images/SVG/Pet_Home.svg" />
        </div>
        <div class="item3" style=" margin-top:50px; margin-right:100px;">
            <p style="font-family:'MS Gothic'; font-size:medium; color:#3D92D0"> BONUS STREAK</p>
            <img src="~/Content/images/SVG/Trackoin_Bonus.svg" />
        </div>
        <div class="item4" style="margin-left:50px;">
            <img src="~/Content/images/SVG/Aspiration_ClockIn.svg" />
        </div>
        <div class="item5" style="margin-left:100px; margin-right:100px;">
            <img src="~/Content/images/SVG/Home_DayStreak_9.svg" />
        </div>
        <div class="item6" style="margin-left:-150px; margin-left:25px; margin-right:100px">
            <img src="~/Content/images/SVG/Archive_Blue.svg" />

        </div>
        <div class="item7" style="margin-right:-150px;">
            <img src="~/Content/images/SVG/Chart SVG/Student_Home_CommunityHours.svg" />
        </div>
        <div class="item8" style="margin-left:20vw; margin-right:20vw;">
        </div>
        <div class="item9" style="margin-left:-15vw;">
            <img src="~/Content/images/SVG/Chart SVG/Student_Home_HoursThisWeek.svg" />
        </div>
    </div>




            <!--First row on the student page-->
            <!--<div class="row"> -->
            <!--First column including the streak logo and the description of-->
            <!--
            <div style="margin-left:100px; margin-right:100px; margin-top:10px; width:50px; ">
                <img src="~/Content/images/SVG/Trackoin_Individual.svg" />
                <p style="color:#3D92D0; font-size:larger; text-align:center">365</p>
            </div>
            <div style="margin-left:unset; margin-right:100px; margin-top:50px; width:150px; ">
                <img src="~/Content/images/SVG/Home_DayStreak_9.svg">
                <p style="color:#3D92D0; font-size:larger; text-align:center">CURRENT STREAK</p>
            </div>
            <div style="margin-left:unset; margin-right:100px; margin-top:10px; width:100px; ">
                <img src="~/Content/images/SVG/Pet_Home.svg" />
                <p style="color:#3D92D0; font-size:larger; text-align:center">CURRENT STREAK</p>
            </div>
        </div>

        <div class="row">
            <!--First column including the streak logo and the description of-->
            <!--
            <div style="margin-left:100px; margin-right:100px; margin-top:10px; width:50px; ">
                <img src="~/Content/images/SVG/Aspiration_Streak.svg" />
                <p style="color:#3D92D0; font-size:larger; text-align:center">27 DAYS</p>
            </div>
            <div style="margin-left:unset; margin-right:100px; margin-top:50px; width:150px; ">
                <img src="~/Content/images/SVG/Home_DayStreak_9.svg">
                <p style="color:#3D92D0; font-size:larger; text-align:center">CURRENT STREAK</p>
            </div>
            <div style="margin-left:unset; margin-right:100px; margin-top:10px; width:100px; ">
                <img src="~/Content/images/SVG/Pet_Home.svg" />
                <p style="color:#3D92D0; font-size:larger; text-align:center">CURRENT STREAK</p>
            </div>
        </div>
        <div class="row">
            -->
            <!--First column including the streak logo and the description of-->
            <!--
            <div style="margin-left:100px; margin-right:100px; margin-top:10px; width:50px; ">
                <img src="~/Content/images/SVG/Aspiration_Streak.svg" />
                <p style="color:#3D92D0; font-size:larger; text-align:center">27 DAYS</p>
            </div>
            <div style="margin-left:unset; margin-right:100px; margin-top:50px; width:150px; ">
                <img src="~/Content/images/SVG/Home_DayStreak_9.svg">
                <p style="color:#3D92D0; font-size:larger; text-align:center">CURRENT STREAK</p>
            </div>
            <div style="margin-left:unset; margin-right:100px; margin-top:10px; width:100px; ">
                <img src="~/Content/images/SVG/Pet_Home.svg" />
                <p style="color:#3D92D0; font-size:larger; text-align:center">CURRENT STREAK</p>
            </div>
        </div>


        <!--Second column including the streak logo and the description of
        <div style="margin-left: 10vw; margin-top: 5vw; width:300px;">
            <div class="item">
                <img src="~/Content/images/SVG/Home_DayStreak_9.svg" />
                <p style="color:#3D92D0; font-size:larger; text-align:center">CURRENT STREAK</p>
            </div>
        </div>
            -->
            <!--Third column including the Aspirations logo and the description of
            <div style="margin-left:10vw;  width:300px;">
                <div class="item">
                    <img src="~/Content/images/SVG/Pet_Home.svg" />
                </div>
            </div>
        </div>
        -->
            <!--Second row on the student page
        <div class="row">
            <div style="margin-top:-5vw; margin-left: -4vw; width:150px;">
                <div class="item">
                    <img src="~/Content/images/SVG/Home_BestDay_Tuesday.svg" />
                    <p style="color:#3D92D0; font-size:xx-large; text-align:center">TUESDAY</p>
                </div>
            </div>
            <div style="margin-top:0vw; margin-left: 20vw; width:300px;">
                <div class="item">
                    <img src="~/Content/images/SVG/Chart SVG/Student_Home_CommunityHours.svg" />
                </div>
            </div>
            <div style="margin-left:10vw; width:200px;">
                <div class="item">
                    <img src="~/Content/images/SVG/Aspiration_Streak.svg" />
                    <p style="color:#3D92D0; font-size:xx-large; text-align:center">27 Days</p>
                </div>
            </div>
        </div>
            -->
            <!--Third Row
        <div class="row">
            <div style="margin-top:-100vw; margin-left:-850vw; width:100px;">
                <div class="item">
                    <img src="~/Content/images/SVG/Trackoin_Pile.svg" />
                    <p style="color:#3D92D0; font-size:xx-large; text-align:center">356</p>
                    <p style="color:#3D92D0; font-size:xx-large; text-align:center; margin-top:-30px">Trackcoin</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div style="margin-top:25vw; margin-left:20vw; width:100px;">
                <div class="item">
                    <img src="~/Content/images/SVG/Archive_Blue.svg" />
                </div>
            </div>
            <div style="margin-top:25vw; margin-left:100vw; width:300px;">
                <div class="item">
                    <img src="~/Content/images/SVG/Chart SVG/Student_Home_HoursThisWeek.svg" />
                </div>
            </div>
            <div style="margin-top:25vw; margin-left:100vw; width:300px;">
                <div class="item">
                    <img src="~/Content/images/SVG/Pet_Home.svg" />
                </div>
            </div>
        </div>
        <!--
        <div class="column" style="max-width:20%; float:right;">
            <div class="item" style=" padding-top:10px; padding-left:10px;">
                <img src="~/Content/images/SVG/Aspiration_Streak.svg" />
                <p style="color:#3D92D0; font-size:40px; text-align:center">27 Days</p>
            </div>
        </div>
            -->
            <!--
                <div class="item" style="padding-top:30px; padding-left:10px;">
                    <img src="~/Content/images/SVG/Home_BestDay_Tuesday.svg" />
                    <p style="color:#3D92D0; font-size:40px; text-align:center">Tuesday</p>
                </div>
                <div class="item" style="padding-top:30px; padding-left:10px;">
                    <img src="~/Content/images/SVG/Trackoin_Pile.svg" />
                    <p style="color:#3D92D0; font-size:40px; text-align:center">356</p>
                </div>
                <div class="item" style="padding-top:30px; padding-left:10px;">
                    <img src="~/Content/images/SVG/Archive_Blue.svg" />
                    <p style="color:#3D92D0; font-size:40px; text-align:center">356</p>
                </div>
            </div>
        </div>
                -->
            <!--
        <div class="row">
            <div class="column" style=" max-width:20%">

            </div>
            <div class="column" style=" max-width:20%">
                <p style="color:#3D92D0; font-size:60px; text-align:center">Current Streak</p>
                <img src="~/Content/images/SVG/Aspiration_Streak.svg" />
                <p style="color:#3D92D0; font-size:40px; text-align:center">27 Days</p>
            </div>
            <div class="column" style="max-width:20%; margin-top:10%">
                <img src="~/Content/images/SVG/Home_BestDay_Tuesday.svg" />
                <p style="color:#3D92D0; font-size:40px; text-align:center">Tuesday</p>
                <p style="color:lightgray; font-size:30px; text-align:center">Best Day</p>
            </div>
            <div class="column" style="max-width:20%; margin-top:10%">
                <p style="color:#3D92D0; font-size:40px; text-align:center">Current Stash</p>
                <img src="~/Content/images/SVG/Trackoin_Individual.svg" />
                <p style="color:#3D92D0; font-size:30px; text-align:center">326 Trackoin</p>


            </div>

        </div>
            -->

</body>
