@{
    ViewBag.Title = "Student Home Page";
}
<head>
<script>
window.onload = function () {

var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
	title:{
		text: "Community Hourse",
		horizontalAlign: "left"
	},
	data: [{
		type: "doughnut",
		startAngle: 60,
		//innerRadius: 60,
		indexLabelFontSize: 17,
		indexLabel: "{label} - #int",
		toolTipContent: "<b>{label}:</b> {y} (#int)",
		dataPoints: [
            { y: 67, label: "Hours In School" },
            { y: 43, label: "Hours Left To Go" },
		]
	}]
});
chart.render();

}
</script>
</head>
<body>
    <!--Grid container for the student home page-->
    <div class="grid-container-white" style="margin-bottom:20px;">

        <!--Item 1 container-->
        <div class="item1" style=" margin-top:50px; margin-left:50px;">

            <!--Students current stash Icon-->
            <p style="font-family:'MS Gothic'; font-size:medium; color:#3D92D0"> CURRENT STASH</p>
            <img src="~/Content/images/SVG/Trackoin_Individual.svg" />
        </div>

        <!--Item 2 container-->
        <div class="item2" style="width:350px; margin-left:100px; margin-right:-300px; margin-top:100px;">

            <!--Pet Icon-->
            <img src="~/Content/images/SVG/Pet_Home.svg" />
        </div>

        <!--Item 3 container-->
        <div class="item3" style=" margin-top:50px; margin-right:100px;">

            <!--TrackCoin bonus streak-->
            <p style="font-family:'MS Gothic'; font-size:medium; color:#3D92D0"> BONUS STREAK</p>
            <img src="~/Content/images/SVG/Trackoin_Bonus.svg" />
        </div>

        <!--Item 4 container-->
        <div class="item4" style="margin-left:50px;">

            <!--Current Active aspiration-->
            <p style="font-family:'MS Gothic'; font-size:medium; color:#3D92D0"> CURRENT ASPIRATION</p>
            <img src="~/Content/images/SVG/Aspiration_ClockIn.svg" />
        </div>

        <!--Item 5 container-->
        <div class="item5" style="margin-left:100px; margin-right:100px;">

            <!--Home Streak Icon-->
            <img src="~/Content/images/SVG/Home_DayStreak_9.svg" />
        </div>

        <!--Item 6 container-->
        <div class="item6" style="margin-left:-150px; margin-left:25px; margin-right:100px">
            <p style="font-family:'MS Gothic'; font-size:medium; color:#3D92D0"> YOUR REPORTS</p>

            <!--Archive Button-->
            <img src="~/Content/images/SVG/Archive_Blue.svg" />
        </div>

        <!--Item 7 container-->
        <div class="item7" style="margin-right:-150px; margin-top:50px;">
            
            <div id="chartContainer" style="height: 300px; width: 100%;">

                <!--Community Hours Chart-->
                <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
            </div>
        </div>

        <!--Item 8 container-->
        <div class="item8" style="margin-left:10vw; margin-right:10vw;">

            <!--Student Community Hours Chart-->
            <p style="font-family:'MS Gothic'; font-size:large; color:#3D92D0"> TODAY'S SNAPSHOT</p>
        </div>

        <!--Item 9 container-->
        <div class="item9" style="margin-left:-10vw; margin-top:50px">

            <!--Student Hours Chart-->
            <div id="chartContainer" style="height: 300px; width: 80%;">
                <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
            </div>
        </div>
    </div>
</body>
