@{
    ViewBag.Title = "Student Home Page";
}

<style>
    .center {
        margin: auto;
        width: 60%;
        border: 3px solid #73AD21;
        padding: 10px;
    }
    </style>
<body style=" background:white">
    <div class="row">
        <div style="max-width:15%; margin:25px 50px 100px">
            <img src="~/Content/images/SVG/Logo_Default.svg" />
        </div>
        <div style="max-width:15%;" class="center">
            <img src="~/Content/images/SVG/Logo_Default.svg" />
        </div>
    </div>
        <div class="row">
            
        </div>
    
</body>
