@{
    ViewBag.Title = "Student Home Page";
}

<style>
    .container {
        position: relative;
    }

    .column2 {
        float: left;
        width: 100%;
        padding-left: 400px;
        text-align:center
    }

    .topleft{
        position:absolute;
        top: 8px;
        left: 16px;
    }
    .center {
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        text-align: center;
        font-size: 18px;
    }
    </style>
<body style=" background:white">
    <div class="row">
        <div class="columnthird" style="max-width:20%; ">
            <div class="item" style=" padding-top:10px; padding-left:10px;">
                <img src="~/Content/images/SVG/Aspiration_Streak.svg" />
                <p style="color:#3D92D0; font-size:40px; text-align:center">27 Days</p>
            </div>
        </div>
        <div class="column2" style="max-width:35%; padding-left:100px; padding-right:-100px; text-align:center;">
            <div class="item" style=" padding-top:30px; padding-left:10px;">
                <img src="~/Content/images/SVG/Aspiration_Streak.svg" />
                <p style="color:#3D92D0; font-size:40px; text-align:center">27 Days</p>
            </div>
        </div>
        <!--
        <div class="column" style="max-width:20%; float:right;">
            <div class="item" style=" padding-top:10px; padding-left:10px;">
                <img src="~/Content/images/SVG/Aspiration_Streak.svg" />
                <p style="color:#3D92D0; font-size:40px; text-align:center">27 Days</p>
            </div>
        </div>
            -->
    </div>
        <!--
            <div class="item" style="padding-top:30px; padding-left:10px;">
                <img src="~/Content/images/SVG/Home_BestDay_Tuesday.svg" />
                <p style="color:#3D92D0; font-size:40px; text-align:center">Tuesday</p>
            </div>
            <div class="item" style="padding-top:30px; padding-left:10px;">
                <img src="~/Content/images/SVG/Trackoin_Pile.svg" />
                <p style="color:#3D92D0; font-size:40px; text-align:center">356</p>
            </div>
            <div class="item" style="padding-top:30px; padding-left:10px;">
                <img src="~/Content/images/SVG/Archive_Blue.svg" />
                <p style="color:#3D92D0; font-size:40px; text-align:center">356</p>
            </div>
        </div>
    </div>
            -->
        <!--
    <div class="row">
        <div class="column" style=" max-width:20%">

        </div>
        <div class="column" style=" max-width:20%">
            <p style="color:#3D92D0; font-size:60px; text-align:center">Current Streak</p>
            <img src="~/Content/images/SVG/Aspiration_Streak.svg" />
            <p style="color:#3D92D0; font-size:40px; text-align:center">27 Days</p>
        </div>
        <div class="column" style="max-width:20%; margin-top:10%">
            <img src="~/Content/images/SVG/Home_BestDay_Tuesday.svg" />
            <p style="color:#3D92D0; font-size:40px; text-align:center">Tuesday</p>
            <p style="color:lightgray; font-size:30px; text-align:center">Best Day</p>
        </div>
        <div class="column" style="max-width:20%; margin-top:10%">
            <p style="color:#3D92D0; font-size:40px; text-align:center">Current Stash</p>
            <img src="~/Content/images/SVG/Trackoin_Individual.svg" />
            <p style="color:#3D92D0; font-size:30px; text-align:center">326 Trackoin</p>


        </div>

    </div>
        -->

</body>
