@{
    ViewBag.Title = "Student Home Page";
}

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
    <p class="lead">This is the home page for the student.</p>
    <p><a href="~/Student/Aspirations" class="btn btn-primary btn-lg">Student Aspirations &raquo;</a></p>
</div>

<div class="btn-group btn-group-justified">
    <a href="~/Student/Index" class="btn btn-primary">Home</a>
    <a href="~/Student/Data" class="btn btn-primary">Data</a>
    <a href="~/Student/Yard" class="btn btn-primary">Pet Yard</a>
    <a href="~/Student/Store" class="btn btn-primary">Pet Store</a>
    <a href="~/Student/Aspirations" class="btn btn-primary">Pet Aspirations</a>
    <a href="~/Home/Index" class="btn btn-primary">Log Out</a>
</div>