@{
    ViewBag.Title = "Student Home Page";
}

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
    <p class="lead">This is the home page for the student.</p>
    <p><a href="~/Student/Aspirations" class="btn btn-primary btn-lg">Student Aspirations &raquo;</a></p>
</div>
