@{
    ViewBag.Title = "Student Home Page";
}

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
    <p class="lead">This is the home page for the student.</p>
    <p><a href="~/Student/Aspirations" class="btn btn-primary btn-lg">Student Aspirations &raquo;</a></p>
</div>

<div class="container">
<div class="row">
    <div class="col-md-2">
        <a class="btn btn-default" href="Home">Home</a>
    </div>
    <div class="col-md-2">
        <a class="btn btn-default" href="Data">Data</a>
    </div>
    <div class="col-md-2">
        <p><a class="btn btn-default" href="Yard">Pet Yard &raquo;</a></p>
    </div>
    <div class="col-md-2">
        <p><a class="btn btn-default" href="Store">Pet Shoppe &raquo;</a></p>
    </div>
    <div class="col-md-2">
        <p><a class="btn btn-default" href="Aspirations">Aspirations &raquo;</a></p>
    </div>
    <div class="col-md-2">
        <p><a class="btn btn-default" href="Logout">Logout &raquo;</a></p>
    </div>   
</div>
</div>