@{
    ViewBag.Title = "Student Home Page";
}
<body style=" background:white">
<div class="jumbotron">
    <img src="~/Content/images/studentHome.png" alt="Student Home Page" 
         style="width:100%;height:90%;">

    <p class="lead">This is the home page for the student.</p>
</div>
    </body>
