@{
    ViewBag.Title = "Logout";
    Layout = null;
}
@*<img src="~/Content/images/logout.png" alt="Student log out page"
     style="width:100%;height:auto;">*@
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
<div class= "row">
<div class="column">
<img src="~/Content/images/SVG/Pet_Home.svg" alt="Pet" style="width:100%;height:auto;" />
    </div>
<div class="column">
    <div class="speech-bubble" >
        
        <h1>Thanks for stopping by!</h1>
        <h2>I hope to see you again soon!</h2>
    </div>
</div>
    </div>
<h4 align="center"><a class=" btn-block" href="~/Home/Index">Return to TrackAdemy Home</a></h4>
    </body>