@{
    ViewBag.Title = "Pet Store";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<p><a href="https://www.w3schools.com/html/">Pet Aspirations</a>
<p><a href="~/Student/Yard">Pet Yard</a>
<p><a href="~/Student/Store">Pet Store</a>
<p>Use this area to provide additional information.</p>
