@{
    ViewBag.Title = "Pet Store";
}
<body>
    <div class="row">
        <div class="columnthird">
            <img src="~/Content/images/SVG/Store_Collar.svg" alt="Collar"
                 style="width:100%;height:auto;">

        </div>
        <div class="columnthird">
            <img src="~/Content/images/SVG/Store_CowboyHat.svg" alt="Cowboy Hat"
                 style="width:100%;height:auto;">

        </div>
        <div class="columnthird">
            <img src="~/Content/images/SVG/Store_Mustache.svg" alt="Mustache"
                 style="width:100%;height:auto;">
        </div>
    </div>
    <div class="row">
        <div class="columnthird">
            <div class="columnthird">
                <btn class="btn-danger">BUY!</btn>
            </div>
            <div class="columnthird">
                <btn class="btn-danger">BUY!</btn>
            </div>
            <div class="columnthird">
                <btn class="btn-danger">BUY!</btn>
            </div>
        </div>
        <div class="columnthird">
            <div class="columnthird">
                <btn class="btn-danger">BUY!</btn>
            </div>
            <div class="columnthird">
                <btn class="btn-danger">BUY!</btn>
            </div>
            <div class="columnthird">
                <btn class="btn-danger">BUY!</btn>
            </div>
        </div>
        <div class="columnthird">
            <div class="columnthird">
                <btn class="btn-danger">BUY!</btn>
            </div>
            <div class="columnthird">
                <btn class="btn-danger">BUY!</btn>
            </div>
            <div class="columnthird">
                <btn class="btn-danger">BUY!</btn>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="columnthird">
            <img src="~/Content/images/SVG/Store_Handkerchief_Dark.svg" alt="Handkerchief"
                 style="width:100%;height:auto;">

        </div>
        <div class="columnthird">
            <img src="~/Content/images/SVG/Store_Speak_Dark.svg" alt="Speak"
                 style="width:100%;height:auto;">

        </div>
        <div class="columnthird">
            <img src="~/Content/images/SVG/Store" alt="Mustache"
                 style="width:100%;height:auto;">
        </div>
    </div>
</body>