@{
    ViewBag.Title = "Pet Store";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<div class="btn-group btn-group-justified">
    <a href="~/Student/Yard" class="btn btn-primary">Pet Yard</a>
    <a href="~/Student/Store" class="btn btn-primary">Pet Store</a>
    <a href="~/Student/Aspirations" class="btn btn-primary">Pet Aspirations</a>
</div>
<p>Use this area to provide additional information.</p>
