@{
    ViewBag.Title = "Pet Store";
}
<body>
   
    <div class="row">
        <div class="columnthird">
            <img src="~/Content/images/SVG/Pet_Home.svg" alt="Pet" style="width:100%;height:auto;" />
        </div>
        <div class="columnthird">
            <div class="speech-bubble">

                <h2>Look at all this great stuff!</h2>
                <h3>I've had my eye on this for awhile:</h3>
                <img src="~/Content/images/SVG/Store_CowboyHat.svg" alt="Cowboy Hat"
                     style="width:100%;height:auto;max-width:100px;max-height:250px">
            </div>
        </div>
        <div class="columnthird">
            <h1 style="text-align:center">356</h1>
            <img src="~/Content/images/SVG/Trackoin_Pile.svg" alt="Pet" style="width:100%;height:auto;" />
        </div>
    </div>
    <div class="row">
        <div class="columnthird">
            <img src="~/Content/images/SVG/Store_Collar.svg" alt="Collar"
                 style="width:100%;height:auto;max-width:250px;max-height:250px">

        </div>
        <div class="columnthird">
            <img src="~/Content/images/SVG/Store_CowboyHat.svg" alt="Cowboy Hat"
                 style="width:100%;height:auto;max-width:250px;max-height:250px">

        </div>
        <div class="columnthird"style="margin:auto;">
            <img src="~/Content/images/SVG/Store_Mustache.svg" alt="Mustache"
                 style="width:100%;height:auto;max-width:250px;max-height:250px">
        </div>
    </div>
    <div class="row">
        <div class="columnthird">
            <div class="columnthird">
                <btn class="btn-danger">BUY!</btn>
            </div>
            <div class="columnthird">
                
            </div>
            <div class="columnthird">
                <text class="text-right">100</text>
            </div>
        </div>
        <div class="columnthird">
            <div class="columnthird">
                <btn class="btn-danger">BUY!</btn>
            </div>
            <div class="columnthird">

            </div>
            <div class="columnthird">
                <text class="text-right">100</text>
            </div>
        </div>
        <div class="columnthird">
            <div class="columnthird">
                <btn class="btn-danger">BUY!</btn>
            </div>
            <div class="columnthird">

            </div>
            <div class="columnthird">
                <text class="text-right">100</text>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="columnthird">
            <img src="~/Content/images/SVG/Store_Handkerchief_Dark.svg" alt="Handkerchief"
                 style="width:100%;height:auto;max-width:250px;max-height:250px">

        </div>
        <div class="columnthird">
            <img src="~/Content/images/SVG/Store_Speak_Dark.svg" alt="Speak"
                 style="width:100%;height:auto;max-width:250px;max-height:250px">

        </div>
        <div class="columnthird"style="margin:auto;">
            <img src="~/Content/images/SVG/Store_Ball.svg" alt="Ball"
                 style="width:100%;height:auto;max-width:250px;max-height:250px">
        </div>
    </div>
    <div class="row" >
        <div class="columnthird">
            <div class="columnthird">
                <btn class="btn-danger">SOLD!</btn>
            </div>
            <div class="columnthird">
                <btn class="btn-danger">SOLD!</btn>
            </div>
            <div class="columnthird">
                <btn class="btn-danger">SOLD!</btn>
            </div>
        </div>
        <div class="columnthird">
            <div class="columnthird">
                <btn class="btn-danger">SOLD!</btn>
            </div>
            <div class="columnthird">
                <btn class="btn-danger">SOLD!</btn>
            </div>
            <div class="columnthird">
                <btn class="btn-danger">SOLD!</btn>
            </div>
        </div>
        <div class="columnthird">
            <div class="columnthird">
                <btn class="btn-danger">BUY!</btn>
            </div>
            <div class="columnthird">

            </div>
            <div class="columnthird">
                <text class="text-right">100</text>
            </div>
        </div>
    </div>
</body>