@{
    ViewBag.Title = "Yard";
}

<!--Pet updated backyard-->
<body class="backYardFormat">

    <!--Image of the pet yard after items have been purchased-->
    <div style="margin: 0; padding: 0;">

            <a href="~/Student/StoreUpdated" style="float:none;">
                <img src="~/Content/images/SVG/backYardUpdate.svg" class="backYardPictureUpdate">
            </a>

    </div>

</body>
