@{
    ViewBag.Title = "Yard";
}

<!--Pet updated backyard-->
<body style="background:radial-gradient(darkgray,white)">
    <div class="grid-container-backYard">

    <!--Image of the pet yard after items have been purchased-->
        <div>    
            <a href="~/Student/StoreUpdated" class="backYardUpdateHREF">
                <img src="~/Content/images/SVG/backYardUpdate.svg" class="backYardPictureUpdate">
            </a>
        </div>
    </div>

</body>
