@{
    ViewBag.Title = "Yard";
}

<style>
    html, body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        overflow-y: hidden;
    }
</style>

<!--Pet backyard-->
<body class="whiteBackground">

    <!--Images in the pet yard, title, yard picture, help and about-->
    <div>
        <br />
        <img src="~/Content/images/SVG/Backyard-Title.svg" class="titleBackYard">
        <img src="~/Content/images/SVG/Information_Blue.svg" class="blueInfo">
        <img src="~/Content/images/SVG/Help_Blue.svg" class="blueHelp">
    </div>

    <div class="centerYard">
        <img src="~/Content/images/Backyard-Cropped.png" alt="Pet Back Yard" class="backYardPicture">
    </div>
</body>
