@{
    ViewBag.Title = "Yard";
}

<!--Pet backyard-->
<body>

    <!--Image of the pet yard after items have been purchased-->
    <div>


            <a href="~/Student/StoreUpdated" style="float:none;">
                <img src="~/Content/images/SVG/Backyard.svg" style="width: 120%;">
            </a>

    </div>

</body>
