@{
    ViewBag.Title = "Yard";
}

<!--Pet backyard-->
<body>

    <!--Image of the pet yard after items have been purchased-->
    <div>

        <a href="~/Student/StoreUpdated"class="backYardPicture">
            <img src="~/Content/images/SVG/Backyard.svg" alt="This is where the pet lives" class="backYardPicture">
        </a>
    </div>

</body>
