@{
    ViewBag.Title = "Yard";
}

<div class="blueBackground">
    <!--Backyard png-->
    <img src="~/Content/images/Backyard-Cropped.png" alt="Pet Back Yard"
         style="width:80%;height:80%;">
</div>