@{
    ViewBag.Title = "Yard";
}

<style>

    .backYardPicture {
        height: 80%;
        width: 100%;
        bottom: 0;
        left: 0;
        position: absolute;
        padding: 0;

    }

    .titleBackYard{
        height: 75px;
        width: 400px;
        padding-bottom: 0;
        padding-top: 0;
        padding-left: 15px;
    }
</style>

<body class="whiteBackground">

    <img src="~/Content/images/SVG/Backyard-Title.svg" class="titleBackYard">
    <img src="~/Content/images/Backyard-Cropped.png" alt ="Pet Back Yard" class="backYardPicture">

</body>