@{
    ViewBag.Title = "Yard";
}

<style>
    .backYardPicture {
       height: 80%;
       width: 100%;
       bottom: 0;
       position: absolute;
      
    }
</style>

<body class="blueBackground">

        <img src="~/Content/images/Backyard-Cropped.png" alt="Pet Back Yard" class="backYardPicture">
   
</body>