@{
    ViewBag.Title = "Yard";
}

<!--Pet backyard-->
<body>

    <!--Image of 'backyard' png-->
    <div>
        <br />
        <img src="~/Content/images/SVG/Backyard-Title.svg" title="Backyard" class="titleBackYard">
    </div>

    <!--Image of the pet yard after items have been purchased-->
    <div>
        <svg width="100px" height="100px" @*viewBox="-300 -200 -100 -100"*@>
            <img src="~/Content/images/SVG/Backyard.svg" alt="This is where the pet lives" style="margin-top:-350px; margin-left:50px">
        </svg>
    </div>
</body>
