@{
    ViewBag.Title = "Yard";
}


<!--Pet backyard-->
<body class="backYardFormat">

    <!--Image of the pet yard before items have been purchased-->
    <div>
        <img src="~/Content/images/Backyard-Cropped.png" alt="This is where the pet lives" class="backYardPicture">
    </div>

</body>
