@{
    ViewBag.Title = "Yard";
}

<style>
    .backYardPicture {
        height: 90%;
        width: 75%;
       right: 0;
       position: absolute;
      
    }
</style>

<body style="margin-top: -10px">

            <img src="~/Content/images/Backyard-Cropped.png" alt="Pet Back Yard" class="backYardPicture">

</body>