@{
    ViewBag.Title = "Yard";
}

<!--Pet backyard-->
<body>

    <!--Image of 'backyard' png-->
    <div>
        <br />
        <img src="~/Content/images/SVG/Backyard-Title.svg" title="Backyard" class="titleBackYard">
    </div>

    <!--Image of the pet yard after items have been purchased-->
    <div>

        <a href="~/Student/StoreUpdated" style="float:none">
            <img src="~/Content/images/SVG/Backyard.svg" alt="This is where the pet lives" style="margin-left:70px;margin-top:-300px">
        </a>

    </div>
</body>
