@{
    ViewBag.Title = "Yard";
}

<!--Pet backyard-->
<body class="whiteBackground">

    <!--Images in the pet yard, title, yard picture, help and about-->
    <div>
        <img src="~/Content/images/SVG/Backyard-Title.svg" class="titleBackYard">
        <img src="~/Content/images/SVG/Information_Blue.svg" class="blueInfo">
        <img src="~/Content/images/SVG/Help_Blue.svg" class="blueHelp">
    </div>

    <div>
        <img src="~/Content/images/Backyard-Cropped.png" alt="Pet Back Yard" class="backYardPicture">
    </div>
</body>
