@{
    ViewBag.Title = "Kiosk Home Page";
}
<style>

    html, body {
        margin: 0;
        padding: 0;
    }

    .Background {
        background: linear-gradient(#B3C65F,#618B42);
        width: 100vw;
        height: 100vh;
        position: absolute;
    }

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 75%;
    }

    .grid-container {
        display: grid;
        grid-template: auto auto auto / auto auto auto;
        grid-gap: 50px;
        background-color: #B3C65F;
        padding: 50px;
    }

        .grid-container > div {
            background-color: #618B42;
            text-align: center;
            padding: 5px 5px;
            font-size: 15px;
        }

    .logoutButton {
        background-color: #463927;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 8px;
    }

    .signInButton {
        background-color: #FDF9CE;
        border: none;
        color: green;
        padding: 15px 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 10px;
        border-radius: 8px;
    }

    .signOutButton {
        background-color: #FDF9CE;
        border: none;
        color: red;
        padding: 15px 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 10px;
        border-radius: 8px;
    }

</style>


<div class="Background">

    <div class=" center">

        <div>
            <br />
            <img src="~/Content/images/SVG/TrackAdemy Logo - White.svg" style="width:40vw;" class="center" />
            <img src="~/Content/images/SVG/Logo_Default.svg" style=" width: 7vw" class="center" />
        </div>

        <div>

            <br />

            <div class="grid-container">

                <div class="item1">
                    <a href="" class="signInButton">Check In</a>
                    <img src="~/Content/images/NewFolder1/StudentImagesPNG/Student1.png" style="height:auto; max-width:100%" />
                    <a href="" class="signOutButton">Check Out</a>
                </div>

                <div class="item2">
                    <a href="" class="signInButton">Check In</a>
                    <img src="~/Content/images/NewFolder1/StudentImagesPNG/Student2.png" style="height:auto; max-width:100%" />
                    <a href="" class="signOutButton">Check Out</a>
                </div>

                <div class="item3">
                    <a href="" class="signInButton">Check In</a>
                    <img src="~/Content/images/NewFolder1/StudentImagesPNG/Student3.png" style="height:auto; max-width:100%" />
                    <a href="" class="signOutButton">Check Out</a>
                </div>

                <div class="item4">
                    <a href="" class="signInButton">Check In</a>
                    <img src="~/Content/images/NewFolder1/StudentImagesPNG/Student4.png" style="height:auto; max-width:100%" />
                    <a href="" class="signOutButton">Check Out</a>
                </div>

                <div class="item5">
                    <a href="" class="signInButton">Check In</a>
                    <img src="~/Content/images/NewFolder1/StudentImagesPNG/Student5.png" style="height:auto; max-width:100%" />
                    <a href="" class="signOutButton">Check Out</a>
                </div>

                <div class="item6">
                    <a href="" class="signInButton">Check In</a>
                    <img src="~/Content/images/NewFolder1/StudentImagesPNG/Student6.png" style="height:auto; max-width:100%" />
                    <a href="" class="signOutButton">Check Out</a>
                </div>

                <div class="item7">
                    <a href="" class="signInButton">Check In</a>
                    <img src="~/Content/images/NewFolder1/StudentImagesPNG/Student7.png" style="height:auto; max-width:100%" />
                    <a href="" class="signOutButton">Check Out</a>
                </div>

                <div class="item8">
                    <a href="" class="signInButton">Check In</a>
                    <img src="~/Content/images/NewFolder1/StudentImagesPNG/Student8.png" style="height:auto; max-width:100%" />
                    <a href="" class="signOutButton">Check Out</a>
                </div>

                <div class="item9">
                    <<a href="" class="signInButton">Check In</a>
                    <img src="~/Content/images/NewFolder1/StudentImagesPNG/Student9.png" style="height:auto; max-width:100%" />
                    <a href="" class="signOutButton">Check Out</a>
                </div>

            </div>

        </div>

    </div>

    <div>
        <br />
        <a href="~/Home/Index" class="logoutButton">LOGOUT</a>
    </div>

</div>
