@{
    ViewBag.Title = "Kiosk Home Page";
}
<style>
 
    /* Create two equal columns that floats next to each other */
    .column {
        float: right;
        width: 33%;
        padding: 20px;
        height: 100px; /* Should be removed. Only for demonstration */
    }

    .row:after {
        content: "";
        padding: 50px;
        display: table;
        clear: both;
    }

    html, body {
        margin: 0;
        padding: 0;
    }

    .Background {
        background: linear-gradient(#B3C65F,#618B42);
        width: 100vw;
        height: 100vh;
        position: absolute;
    }

    .NavBar {
        background-color: #efe8b5;
        width: 100vw;
        height: 100px;
    }

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .item1 {
        grid-area: myArea;
    }

    .grid-container {
        display: grid;
        grid-template: 'myArea myArea . . .' 'myArea myArea . . .';
        grid-gap: 10px;
        background-color: #2196F3;
        padding: 10px;
    }

    .grid-container > div {
        background-color: rgba(255, 255, 255, 0.8);
        text-align: center;
        padding: 20px 0;
        font-size: 30px;
    }

</style>


<div class="Background">

    <div class=" center">

        <div>
            <br />
            <img src="~/Content/images/SVG/TrackAdemy Logo - White.svg" style="width:30vw;" class="center" />
            <img src="~/Content/images/SVG/Logo_Default.svg" style=" width: 5vw" class="center" />
        </div>
        
        <div>

            <br />

            <div class="grid-container">

                <div class="item1">1</div>
                <div class="item2">2</div>
                <div class="item3">3</div>
                <div class="item4">4</div>
                <div class="item5">5</div>
                <div class="item6">6</div>
                <div class="item7">7</div>
                <div class="item8">8</div>
                <div class="item9">9</div>
 
            </div>

        </div>

    </div>

</div>