@{
    ViewBag.Title = "Kiosk Home Page";
}
<style>
    * {
        box-sizing: border-box;
    }

    /* Create two equal columns that floats next to each other */
    .column {
        float: left;
        width: 20%;
        padding: 10px;
        height: 100px; /* Should be removed. Only for demonstration */
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
</style>

<div class="jumbotron">
    <h2>@ViewBag.Title</h2>
    <p class="lead">Welcome!!  Let's check your community hours and see how your PET is!!!</p>
</div>


<div class="container">

    <div class="row">

        <div class="column">

            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Checkin/Checkout</a></p>
            <img src="~/Content/images/StudentPicture.png" style="height:auto; max-width:100%" />

        </div>

        <div class="column">

            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Checkin/Checkout</a></p>
            <img src="~/Content/images/StudentPictureCheckedHere.png" />

        </div>

        <div class="column">

            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Checkin/Checkout</a></p>
            <img src="~/Content/images/StudentPicture.png" />

        </div>

    </div>

    <div class="row">

        <div class="column">

            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Checkin/Checkout</a></p>
            <img src="~/Content/images/StudentPicture.png" style="height:auto; max-width:100%" />

        </div>

        <div class="column">

            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Checkin/Checkout</a></p>
            <img src="~/Content/images/StudentPictureCheckedHere.png" />

        </div>

        <div class="column">

            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Checkin/Checkout</a></p>
            <img src="~/Content/images/StudentPicture.png" />

        </div>
    </div>

    <div class="row">

        <div class="column">

            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Checkin/Checkout</a></p>
            <img src="~/Content/images/StudentPicture.png" style="height:auto; max-width:100%" />

        </div>

        <div class="column">

            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Checkin/Checkout</a></p>
            <img src="~/Content/images/StudentPictureCheckedHere.png" />

        </div>

        <div class="column">

            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Checkin/Checkout</a></p>
            <img src="~/Content/images/StudentPicture.png" />

        </div>

    </div>

    <div class="row">

        <div class="column">

            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Checkin/Checkout</a></p>
            <img src="~/Content/images/StudentPicture.png" style="height:auto; max-width:100%" />

        </div>

        <div class="column">

            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Checkin/Checkout</a></p>
            <img src="~/Content/images/StudentPictureCheckedHere.png" />

        </div>

        <div class="column">

            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Checkin/Checkout</a></p>
            <img src="~/Content/images/StudentPicture.png" />

        </div>

    </div>
</div>