@{
    ViewBag.Title = "Kiosk Home Page";
}

<!--Background of fading green for entire screen-->
<div class="Background">

    <!--Centers everything on the page-->
    <div class=" center">

        <!--Logout button brings you back to trackAdemy homepage-->
        <div>
            <a href="~/Home/Index" class="logoutButton">LOGOUT</a>
        </div>

        <!--Adds the logo and name to the top of the page-->
        <div>
            <br />
            <img src="~/Content/images/SVG/TrackAdemy Logo - White.svg" style="width:40vw;" class="center" />
            <img src="~/Content/images/SVG/Logo_Default.svg" style=" width: 7vw" class="center" />
        </div>

        <!--Grid container-->
        <div>
            <br />
            <div class="grid-container">

                <!--Student 1 picture with checkin and check out buttons-->
                <div class="item1">
                    <a href="" class="signInButton">Check In</a>
                    <img src="~/Content/images/NewFolder1/StudentImagesPNG/Student1.png" class="picture" />
                    <a href="" class="signOutButton">Check Out</a>
                </div>

                <!--Student 2 picture with checkin and check out buttons-->
                <div class="item2">
                    <a href="" class="signInButton">Check In</a>
                    <img src="~/Content/images/NewFolder1/StudentImagesPNG/Student2.png" class="picture" />
                    <a href="" class="signOutButton">Check Out</a>
                </div>

                <!--Student 3 picture with checkin and check out buttons-->
                <div class="item3">
                    <a href="" class="signInButton">Check In</a>
                    <img src="~/Content/images/NewFolder1/StudentImagesPNG/Student3.png" class="picture" />
                    <a href="" class="signOutButton">Check Out</a>
                </div>

                <!--Student 4 picture with checkin and check out buttons-->
                <div class="item4">
                    <a href="" class="signInButton">Check In</a>
                    <img src="~/Content/images/NewFolder1/StudentImagesPNG/Student4.png" class="picture" />
                    <a href="" class="signOutButton">Check Out</a>
                </div>

                <!--Student 5 picture with checkin and check out buttons-->
                <div class="item5">
                    <a href="" class="signInButton">Check In</a>
                    <img src="~/Content/images/NewFolder1/StudentImagesPNG/Student5.png" class="picture" />
                    <a href="" class="signOutButton">Check Out</a>
                </div>

                <!--Student 6 picture with checkin and check out buttons-->
                <div class="item6">
                    <a href="" class="signInButton">Check In</a>
                    <img src="~/Content/images/NewFolder1/StudentImagesPNG/Student6.png" class="picture" />
                    <a href="" class="signOutButton">Check Out</a>
                </div>

                <!--Student 7 picture with checkin and check out buttons-->
                <div class="item7">
                    <a href="" class="signInButton">Check In</a>
                    <img src="~/Content/images/NewFolder1/StudentImagesPNG/Student7.png" class="picture" />
                    <a href="" class="signOutButton">Check Out</a>
                </div>

                <!--Student 8 picture with checkin and check out buttons-->
                <div class="item8">
                    <a href="" class="signInButton">Check In</a>
                    <img src="~/Content/images/NewFolder1/StudentImagesPNG/Student8.png" class="picture" />
                    <a href="" class="signOutButton">Check Out</a>
                </div>

                <!--Student 9 picture with checkin and check out buttons-->
                <div class="item9">
                    <a href="" class="signInButton">Check In</a>
                    <img src="~/Content/images/NewFolder1/StudentImagesPNG/Student9.png" class="picture" />
                    <a href="" class="signOutButton">Check Out</a>
                </div>

            </div>

        </div>

    </div>

</div>
