@{
    ViewBag.Title = "Kiosk Home Page";
}

<!--Background of fading green for entire screen-->
<div class="Background">

    <!--Centers everything on the page-->
    <div class=" center">
        
        <div>
            <a href="~/Home/Index" class="logoutButton">LOGOUT</a>
        </div>

        <div>

            <br />
            <img src="~/Content/images/SVG/TrackAdemy Logo - White.svg" style="width:40vw;" class="center" />
            <img src="~/Content/images/SVG/Logo_Default.svg" style=" width: 7vw" class="center" />
        </div>

        <div>

            <br />

            <div class="grid-container">

                <div class="item1">
                    <a href="" class="signInButton">Check In</a>
                    <img src="~/Content/images/NewFolder1/StudentImagesPNG/Student1.png" style="height:auto; width:35%" />
                    <a href="" class="signOutButton">Check Out</a>
                </div>

                <div class="item2">
                    <a href="" class="signInButton">Check In</a>
                    <img src="~/Content/images/NewFolder1/StudentImagesPNG/Student2.png" style="height:auto; width:35%" />
                    <a href="" class="signOutButton">Check Out</a>
                </div>

                <div class="item3">
                    <a href="" class="signInButton">Check In</a>
                    <img src="~/Content/images/NewFolder1/StudentImagesPNG/Student3.png" style="height:auto; width:35%" />
                    <a href="" class="signOutButton">Check Out</a>
                </div>

                <div class="item4">
                    <a href="" class="signInButton">Check In</a>
                    <img src="~/Content/images/NewFolder1/StudentImagesPNG/Student4.png" style="height:auto; width:35%" />
                    <a href="" class="signOutButton">Check Out</a>
                </div>

                <div class="item5">
                    <a href="" class="signInButton">Check In</a>
                    <img src="~/Content/images/NewFolder1/StudentImagesPNG/Student5.png" style="height:auto; width:35%" />
                    <a href="" class="signOutButton">Check Out</a>
                </div>

                <div class="item6">
                    <a href="" class="signInButton">Check In</a>
                    <img src="~/Content/images/NewFolder1/StudentImagesPNG/Student6.png" style="height:auto; width:30%" />
                    <a href="" class="signOutButton">Check Out</a>
                </div>

                <div class="item7">
                    <a href="" class="signInButton">Check In</a>
                    <img src="~/Content/images/NewFolder1/StudentImagesPNG/Student7.png" style="height:auto; width:30%" />
                    <a href="" class="signOutButton">Check Out</a>
                </div>

                <div class="item8">
                    <a href="" class="signInButton">Check In</a>
                    <img src="~/Content/images/NewFolder1/StudentImagesPNG/Student8.png" style="height:auto; width:30%" />
                    <a href="" class="signOutButton">Check Out</a>
                </div>

                <div class="item9">
                    <a href="" class="signInButton">Check In</a>
                    <img src="~/Content/images/NewFolder1/StudentImagesPNG/Student9.png" style="height:auto; width:30%" />
                    <a href="" class="signOutButton">Check Out</a>
                </div>

            </div>

        </div>

    </div>

</div>
