@{
    ViewBag.Title = "Kiosk Home Page";
}

<style>
    .item1 .btn {
        position:absolute;
        top: 33%;
        left: 31.5%;
        width: auto;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        background-color: blue;
        color: white;
        font-size: 16px;
        padding: 50px 10px;
        border: none;
        cursor: pointer;
        border-radius: 0;
        text-align: center;
    }

    .item2 .btn {
        position: absolute;
        top: 33%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        background-color: blue;
        color: white;
        font-size: 16px;
        padding: 50px 10px;
        border: none;
        cursor: pointer;
        border-radius: 0;
        text-align: center;
    }

    .item3 .btn {
        position: absolute;
        top: 33%;
        left: 68%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        background-color: blue;
        color: white;
        font-size: 16px;
        padding: 50px 10px;
        border: none;
        cursor: pointer;
        border-radius: 0;
        text-align: center;
    }
    .item4 .btn {
        position: absolute;
        top: 57%;
        left: 31.5%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        background-color: blue;
        color: white;
        font-size: 16px;
        padding: 50px 10px;
        border: none;
        cursor: pointer;
        border-radius: 0;
        text-align: center;
    }
    .item5 .btn {
        position: absolute;
        top: 57%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        background-color: blue;
        color: white;
        font-size: 16px;
        padding: 50px 10px;
        border: none;
        cursor: pointer;
        border-radius: 0;
        text-align: center;
    }
    .item6 .btn {
        position: absolute;
        top: 57%;
        left: 68%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        background-color: blue;
        color: white;
        font-size: 16px;
        padding: 50px 10px;
        border: none;
        cursor: pointer;
        border-radius: 0;
        text-align: center;
    }
    .item7 .btn {
        position: absolute;
        top: 81%;
        left: 31.5%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        background-color: blue;
        color: white;
        font-size: 16px;
        padding: 50px 10px;
        border: none;
        cursor: pointer;
        border-radius: 0;
        text-align: center;
    }
    .item8 .btn {
        position: absolute;
        top: 81%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        background-color: blue;
        color: white;
        font-size: 16px;
        padding: 50px 10px;
        border: none;
        cursor: pointer;
        border-radius: 0;
        text-align: center;
    }
    .item9 .btn {
        position: absolute;
        top: 81%;
        left: 68%;
        width: auto;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        background-color: blue;
        color: white;
        font-size: 16px;
        padding: 50px 10px;
        border: none;
        cursor: pointer;
        border-radius: 0;
        text-align: center;
    }

</style>

<!--Background of fading green for entire screen-->
<body class="kioskBackground" style="margin: 0; padding: 0;">

    <!--Centers everything on the page-->
    <div class=" center">

        <!--Adds the logo and name to the top of the page, logout to -->
        <div>
            <a href="~/Home/Index" class="logoutButton">LOGOUT</a>
            <img src="~/Content/images/SVG/TrackAdemy Logo - White.svg" style="width:40vw; padding-top: 0;" class="center" />
            <img src="~/Content/images/SVG/Logo_Default.svg" style=" width: 5vw" class="center" />
        </div>

        <!--Grid container-->
        <div>
            <br />
            <div class="grid-container">

                <!--Student 1 picture with checkin and check out buttons-->
                <div class="item1"> 

                        <img src="~/Content/images/NewFolder1/StudentImagesPNG/Student1.png" class="picture" />
                        <button class="btn">CHECKMARK</button>
                    
                </div>

                <!--Student 2 picture with checkin and check out buttons-->
                <div class="item2">
                    <img src="~/Content/images/NewFolder1/StudentImagesPNG/Student2.png" class="picture" />
                    <button class="btn">CHECKMARK</button>
                </div>

                <!--Student 3 picture with checkin and check out buttons-->
                <div class="item3">
                    <img src="~/Content/images/NewFolder1/StudentImagesPNG/Student3.png" class="picture" />
                    <button class="btn">CHECKMARK</button>
                </div>

                <!--Student 4 picture with checkin and check out buttons-->
                <div class="item4">

                    <img src="~/Content/images/NewFolder1/StudentImagesPNG/Student4.png" class="picture" />
                    <button class="btn">CHECKMARK</button>

                </div>

                <!--Student 5 picture with checkin and check out buttons-->
                <div class="item5">

                    <img src="~/Content/images/NewFolder1/StudentImagesPNG/Student5.png" class="picture" />
                    <button class="btn">CHECKMARK</button>

                </div>

                <!--Student 6 picture with checkin and check out buttons-->
                <div class="item6">

                    <img src="~/Content/images/NewFolder1/StudentImagesPNG/Student6.png" class="picture" />
                    <button class="btn">CHECKMARK</button>

                </div>

                <!--Student 7 picture with checkin and check out buttons-->
                <div class="item7">

                    <img src="~/Content/images/NewFolder1/StudentImagesPNG/Student7.png" class="picture" />
                    <button class="btn">CHECKMARK</button>

                </div>

                <!--Student 8 picture with checkin and check out buttons-->
                <div class="item8">

                    <img src="~/Content/images/NewFolder1/StudentImagesPNG/Student8.png" class="picture" />
                    <button class="btn">CHECKMARK</button>

                </div>

                <!--Student 9 picture with checkin and check out buttons-->
                <div class="item9">

                    <img src="~/Content/images/NewFolder1/StudentImagesPNG/Student9.png" class="picture" />
                    <button class="btn">CHECKMARK</button>

                </div>

            </div>

        </div>

    </div>

</body>
