@{
    ViewBag.Title = "Kiosk Home Page";
}
<style>
    * {
        box-sizing: border-box;
    }

    /* Create two equal columns that floats next to each other */
    .column {
        float: right;
        width: 25%;
        padding: 20px;
        height: 100px; /* Should be removed. Only for demonstration */
    }

    .row:after {
        content: "";
        padding: 50px;
        display: table;
        clear: both;
    }

    html, body {
        margin: 0;
        padding: 0;
    }

    .Background {
        background: linear-gradient(#B3C65F,#618B42);
        width: 100vw;
        height: 100vh;
        position: absolute;
    }

    .NavBar {
        background-color: blue;
        width: 100vw;
        height: 300px;
    }

</style>


<div>
    <h2>@ViewBag.Title</h2>
    <p class="lead">Welcome!!  Let's check your community hours and see how your PET is!!!</p>
</div>


<div class="container" style="padding-left:unset; padding-right:unset">

    <div class="row">

        <div class="column">

            <img src="~/Content/images/StudentPictureCheckedIn.png" style="height:auto; max-width:75%"/>

        </div>

        <div class="column">

            <img src="~/Content/images/StudentPictureCheckedIn.png" style="height:auto; max-width:75%" />

        </div>

        <div class="column">

            <img src="~/Content/images/StudentPicture.png" style="height:auto; max-width:75%" />

        </div>

        <div class="column">

            <img src="~/Content/images/StudentPicture.png" style="height:auto; max-width:75%" />

        </div>

    </div>

    <div class="row">


        <div class="column">

            <img src="~/Content/images/StudentPictureCheckedIn.png" style="height:auto; max-width:75%" />

        </div>

        <div class="column">

            <img src="~/Content/images/StudentPictureCheckedIn.png" style="height:auto; max-width:75%" />

        </div>

        <div class="column">

            <img src="~/Content/images/StudentPicture.png" style="height:auto; max-width:75%" />

        </div>

        <div class="column">

            <img src="~/Content/images/StudentPictureCheckedIn.png" style="height:auto; max-width:75%" />

        </div>

    </div>

    <div class="row">

 
        <div class="column">

            <img src="~/Content/images/StudentPicture.png" style="height:auto; max-width:75%"/>

        </div>

        <div class="column">

            <img src="~/Content/images/StudentPictureCheckedIn.png" style="height:auto; max-width:75%" />

        </div>

        <div class="column">

            <img src="~/Content/images/StudentPicture.png" style="height:auto; max-width:75%" />

        </div>

        <div class="column">

            <img src="~/Content/images/StudentPictureCheckedIn.png" style="height:auto; max-width:75%"/>

        </div>

    </div>

</div>