@{
    ViewBag.Title = "Kiosk Home Page";
}

<div class="jumbotron">
    <h2>@ViewBag.Title</h2>
    <p class="lead">Welcome!!  Let's check your community hours and see how your PET is!!!</p>
</div>

<div class="row">

    <div class="col-md-2">

        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Checkin/Checkout</a></p>
        <img src="~/Content/images/StudentPicture.png" />

        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Checkin/Checkout</a></p>
        <img src="~/Content/images/StudentPictureCheckedHere.png" />

        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Checkin/Checkout</a></p>
        <img src="~/Content/images/StudentPicture.png" />
   
    </div>
   
    <div class="col-md-2">

        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Checkin/Checkout</a></p>
        <img src="~/Content/images/StudentPictureCheckedHere.png" />

        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Checkin/Checkout</a></p>
        <img src="~/Content/images/StudentPicture.png" />

        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Checkin/Checkout</a></p>
        <img src="~/Content/images/StudentPicture.png" />

    </div>
   
    <div class="col-md-2">

        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Checkin/Checkout</a></p>
        <img src="~/Content/images/StudentPictureCheckedHere.png" />

        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Checkin/Checkout</a></p>
        <img src="~/Content/images/StudentPicture.png" />

        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Checkin/Checkout</a></p>
        <img src="~/Content/images/StudentPictureCheckedHere.png" />

    </div>
    
    <div class="col-md-2">

        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Checkin/Checkout</a></p>
        <img src="~/Content/images/StudentPicture.png" />

        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Checkin/Checkout</a></p>
        <img src="~/Content/images/StudentPictureCheckedHere.png" />

        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Checkin/Checkout</a></p>
        <img src="~/Content/images/StudentPictureCheckedHere.png" />

    </div>

</div>