@{
    ViewBag.Title = "Logout";
    Layout = null;
}
@*<h2>@ViewBag.Title.</h2>*@
<h4 align="center">@ViewBag.Message</h4>

<h4 align="center"><a class=" btn-block" href="~/Home/Index">Return to TrackAdemy Home</a></h4>