@{
    ViewBag.Title = "Calendar";
}

<!--Admin Calendar Mockup-->
</br>
</br>
<div class="calContainer" style="position:relative; top:50px; left:15%; width:70%; height:100vh;">
    <img src="~/Content/images/SVG/Chart SVG/Admin_Calendar.svg" style="width:100%;height:auto;" />
</div>

