@{
    ViewBag.Title = "Calendar";
}

<!--Admin Calendar Mockup-->
</br>
</br>
<div class="calContainer" style="position:relative;width:70%; height:100%;">
    <img src="~/Content/images/SVG/Chart SVG/Admin_Calendar.svg" style="width:100%;height:100%" />
</div>

