@{
    ViewBag.Title = "Calendar";
}

<!--Admin Calendar Mockup-->
</br>
</br>
<body style="background:radial-gradient(#F2696A,white)">
<div class="calContainer">
    <img class="calPic" src="~/Content/images/SVG/ChartSVG/Admin_Calendar.svg"/>
    <button class="invisButton" onclick="showBoxes()">This button.</button>
</div>
<div id="hiddenBox">
    This is an example hidden thing. 
</div>
    </body>

    

<script>
    function showBoxes() {
        var x = document.getElementById("hiddenBox");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    } 

</script>

