@model TrackAdemy.Models.StudentViewModel
@{
    ViewBag.Title = "Admin Home Page";
}




<!--Graph of total hours per student in data range-->
<body>
    <div class="row">
        <div class="adminColumn">
            <div class="adminLeftGraph">
                <img src="~/Content/images/SVG/ChartSVG/Admin_Home_StudentAttendance.svg"  />
            </div>
            <div class="adminRightGraph">
                <img src="~/Content/images/SVG/ChartSVG/Admin_Home_StudentHours.svg"  />
            </div>
            <!--Graph of number of students in class per day of the week in data range-->

        </div>
    </div>
</body>

