@{
    ViewBag.Title = "Admin Home Page";
}

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
    <p class="lead">This is the Admin's home page</p>
</div>

<div class="sampleData" style="margin:auto">
    <img src="~/Content/images/SampleClassData.PNG"/>
</div>


<ul class="nav nav-pills">
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="~/Admin/Index">This Week<b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="#">Three</a></li>
            <li><a href="#">Four</a></li>
        </ul>
    </li>
</ul>