@{
    ViewBag.Title = "Admin Home Page";
}


<ul class="nav nav-pills">
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">This Week<b class="caret"></b></a>
        <ul class="dropdown-menu">
            <div class="btn-group btn-group-justified">
                <li><a href="~/Admin/IndexMonth" class="btn btn-primary">Last Month</a></li>
                <li><a href="~/Admin/IndexYear" class="btn btn-primary">Last Year</a></li>
            </div>
        </ul>
    </li>
</ul>
<div class="row">
    <div class="column">
        <img src="~/Content/images/SVG/AdminTotalHoursByStudentThisWeek.svg" />
    </div>

    <div class="column">
        <img src="~/Content/images/SVG/AdminHomeAverageDayOfWeek.svg"/>
    </div>

</div>
