@{
    ViewBag.Title = "Admin Home Page";
}

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
    <p class="lead">This is the Admin's home page</p>
</div>

<div class="btn-group btn-group-justified">
    <a href="~/Admin/Index" class="btn btn-primary">Home</a>
    <a href="~/Admin/Report" class="btn btn-primary">Report</a>
    <a href="~/Admin/AddStudent" class="btn btn-primary">Add Student</a>
    <a href="~/Student/Store" class="btn btn-primary">Pet Store</a>
    <a href="~/Student/Aspirations" class="btn btn-primary">Pet Aspirations</a>
    <a href="~/Home/Index" class="btn btn-primary">Log Out</a>
</div>