@{
    ViewBag.Title = "Admin Home Page";
}

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
    <p class="lead">This is the Admin's home page</p>
</div>

<div class="sampleData" style="margin:auto">
    <img src="~/Content/images/SampleClassData.PNG"/>
</div>

