@model TrackAdemy.Models.StudentModel
@{
    ViewBag.Title = "Manage Student";
}

@*<img src="~/Content/images/AddStudent.png" alt="about page"
     style="width:100%;height:auto;">*@
<body>
    @{ 
        if (Model==null)
        {
            <p>No Student!</p>
        }
        else
        {

        }



    }




    <div id="deleteStudent">
        <a href="~/Admin/ManageStudent" class="btn btn-primary">Delete Student</a>
    </div>
</body>
