@model TrackAdemy.Models.StudentViewModel
@{
    ViewBag.Title = "Manage Student";
}

@*<img src="~/Content/images/AddStudent.png" alt="about page"
    style="width:100%;height:auto;">*@

<div class="containerManage">
            @{

                if (Model.StudentList == null || !Model.StudentList.Any())
                {
                    <br />
                    <p>No Students in the System</p>
                    <br />
                }
                else
                {

                    foreach (var item in Model.StudentList)
                    {
                        <div class="col-xs-4">
                            <ul id="rig">
                                <li>
                                    <a class="rig-cell" href="~/Student/Read/@item.Id">
                                        <img class="rig-img" src=@string.Format("/Content/images/StudentImages/Student{0}", @item.URIProfilePicture) width="75" height="75" />
                                        <span class="rig-overlay"></span>
                                        <span class="rig-text">@item.FirstName @item.LastName</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    }
                }

            }


    <div id="createStudent" style="width: 40%; margin-left: 17%; margin-right: 70%">
        <a href="~/Student/Create" class="btn btn-primary">Create Student</a>
    </div>
</div>
</div>
