@{
    ViewBag.Title = "Manage Student";
}

<img src="~/Content/images/AddStudent.png" alt="about page"
     style="width:100%;height:auto;">

<div id="deleteStudent">
    <a href="~/Admin/ModifyStudent" class="btn btn-primary">Delete Student</a>
</div>