@{
    ViewBag.Title = "Report";
}
<img src="~/Content/images/adminReports.png" alt="about page"
     style="width:100%;height:90%;">

<div id="downloadButton">
    <a href="~/Admin/Report_PDF" class="btn btn-primary">Download PDF</a>
</div>